@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.training-callout {
  color: black;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: fit-content;
  padding: 15px 10px;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --radial-background: hsl(212, 14%, 21%); /*#2f363e*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-background: hsl(228, 7%, 14%);
  --background: hsl(207, 90%, 54%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-background-color: hsl(0, 0%, 18%);
  --darkmode-text: hsl(0, 0%, 87%);
  --light-grey: hsl(0, 0%, 47%);
  --med-light-grey: hsl(0, 0%, 33%);
  --med-grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 19%);
  --pink: hsl(339, 100%, 62%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background);
}

.tab {
  position: relative;
  width: 400px;
  height: 80px;
  z-index: 1;
  user-select: none;
}
.tab ul.menu {
  position: absolute;
  inset: 0;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.1);
}
.tab ul.menu li {
  list-style: none;
}
.tab ul.menu li ion-icon {
  font-size: 1.5em;
  color: var(--light-grey);
  pointer-events: none;
}
.tab ul.menu li:hover ion-icon {
  color: var(--background);
}
.tab .menuToggle {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background: var(--pink);
  z-index: 1;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5em;
  font-weight: 500;
  transition: 1s ease-in-out;
}
.tab.active .menuToggle {
  transform: translateX(-50%) rotate(225deg);
}
.tab .circular,
.tab .circularbg1,
.tab .circularbg2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 80px;
  background: white;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  --z-index: 10;
  transform-origin: top center;
  transition: 1s ease-in-out;
}
.tab.active .circular, .tab.active .circularbg1, .tab.active .circularbg2 {
  transform: translateX(-50%) rotate(180deg);
}
.tab .circularbg1 {
  background: var(--green);
  transition: 0.6s ease-in-out;
  transition-delay: 0.4s;
}
.tab .circularbg2 {
  background: var(--circularbg2);
  transition: 0.8s ease-in-out;
  transition-delay: 0.2s;
}
.tab.active .circularbg1, .tab.active .circularbg2 {
  transition-delay: 0s;
}
.tab ul.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
}
.tab ul.circle li {
  list-style: none;
  display: flex;
  position: absolute;
  cursor: pointer;
}
.tab ul.circle li ion-icon {
  transform: rotate(180deg);
  font-size: 1.25em;
  color: var(--light-grey);
  pointer-events: none;
}
.tab ul.circle li:hover ion-icon {
  color: var(--pink);
}
.tab ul.circle li:nth-child(1) {
  transform: translate(50px, -15px);
}
.tab ul.circle li:nth-child(2) {
  transform: translate(0, 15px);
}
.tab ul.circle li:nth-child(3) {
  transform: translate(-50px, -15px);
}/*# sourceMappingURL=animated-tab-bar-nav.css.map */