@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.training-callout {
  color: black;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: fit-content;
  padding: 15px 10px;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --radial-background: hsl(212, 14%, 21%); /*#2f363e*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000815;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-wrap: wrap;
}
.container .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 320px;
  background: var(--clr);
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.6), 0 25px 55px var(--clr);
}
.container .box:hover h2 {
  transform: scale(1);
  transition-delay: 0.5s;
  filter: blur(0px);
}
.container .box h2 {
  position: relative;
  color: #020d1e;
  font-size: 4em;
  text-align: center;
  line-height: 2.5em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  filter: blur(10px);
}
.container .box h2 small {
  font-size: 0.35em;
  text-transform: uppercase;
  font-weight: 500;
}
.container .box ion-icon {
  position: absolute;
  font-size: 4em;
  transition: 0.5s;
  transition-delay: 0s;
  opacity: 0;
  transform: translateY(100px);
}
.container .box:hover ion-icon {
  transition-delay: 0.5s;
  opacity: 1;
  transform: translateY(0px);
}
.container .box .clip {
  position: absolute;
  inset: 20px;
  box-shadow: 0 0 0 18px #020d1e;
}
.container .box .clip span {
  position: absolute;
  inset: 0;
  background: #020d1e;
  transition: 0.25s;
}
.container .box .clip span:nth-child(1) {
  clip-path: polygon(0 0, 50% 40%, 100% 0);
  transition-delay: 0s;
}
.container .box .clip span:nth-child(2) {
  clip-path: polygon(0 0, 40% 50%, 50% 101%, 0% 101%);
  transition-delay: 0.15s;
}
.container .box .clip span:nth-child(3) {
  clip-path: polygon(60% 50%, 100% 0, 100% 101%, 50% 101%);
  transition-delay: 0.25s;
}
.container .box:hover .clip span:nth-child(1) {
  clip-path: polygon(0 0, 50% 0, 100% 0);
}
.container .box:hover .clip span:nth-child(2) {
  clip-path: polygon(0 0, 0 100%, 50% 100%, 0% 100%);
}
.container .box:hover .clip span:nth-child(3) {
  clip-path: polygon(100% 100%, 100% 0, 100% 100%, 50% 100%);
}/*# sourceMappingURL=card-effects.css.map */