@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: var(--dark-background-111);
}

.loading {
  position: relative;
  display: flex;
}
.loading span {
  position: absolute;
  top: -150px;
  width: 5px;
  height: 40px;
  transform: rotate(calc(var(--i) * 18deg));
  transform-origin: 0 150px;
}
.loading span::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: animate 8s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes animate {
  0% {
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0, 0 0 50px #0f0;
    rotate: 0deg;
  }
  20% {
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0, 0 0 50px #0f0;
    rotate: 0deg;
  }
  40% {
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0, 0 0 50px #0f0;
    rotate: 90deg;
    filter: hue-rotate(0deg);
  }
  80% {
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0, 0 0 50px #0f0;
    rotate: 90deg;
    filter: hue-rotate(360deg);
  }
  90% {
    box-shadow: none;
    rotate: 90deg;
  }
  90.1%, 100% {
    box-shadow: none;
    background-color: transparent;
  }
}/*# sourceMappingURL=css-simple-animation.css.map */