@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-background: hsl(228, 7%, 14%);
  --background: hsl(204, 46%, 12%);
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-background-color: hsl(0, 0%, 18%);
  --darkmode-text: hsl(0, 0%, 87%);
  --light-grey: hsl(0, 0%, 47%);
  --med-light-grey: hsl(0, 0%, 33%);
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%);
  --pink: hsl(339, 100%, 62%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--glassmorphism-background);
}

.menu {
  position: relative;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .toggle {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 244, 244, 0.1);
  border-radius: 50%;
  box-shadow: 0 25px 15px rgba(0, 0, 0, 0.25), 0 25px 20px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3em;
  color: var(--white);
  z-index: 1000;
}
.menu .toggle ion-icon {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.menu .toggle ion-icon:nth-child(1) {
  opacity: 1;
  transform: rotate(360deg);
}
.menu.active .toggle ion-icon:nth-child(1) {
  opacity: 0;
  transform: rotate(0deg);
}
.menu.active .toggle ion-icon:nth-child(2) {
  opacity: 1;
  transform: rotate(360deg);
}
.menu.active li {
  scale: 1;
}
.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 110px;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--i));
  transform: rotate(calc(90deg * var(--i)));
  scale: 0;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}
.menu li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 100%;
  background: var(--white);
  z-index: 10;
  transform: skewX(325deg) translateX(0);
  box-shadow: -5px 0 0 rgba(255, 255, 255, 0.3333333333);
  transition: 0.5s;
}
.menu li:hover::before {
  transform: skewX(325deg) translateX(180px);
  box-shadow: -50px 0 0 rgba(255, 255, 255, 0.3333333333);
}
.menu li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: var(--clr);
  color: var(--white);
  font-size: 2.25em;
  border-radius: 50%;
  transform: rotate(calc(-90deg * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=glassmorphism-social-media-share.css.map */