@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
.training-callout {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: fit-content;
  padding: 15px 10px;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --radial-background: hsl(212, 14%, 21%); /*#2f363e*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: #0f222f;
}

ul {
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: 0.5s;
}
ul li {
  position: relative;
  list-style: none;
  width: 450px;
  height: 100px;
  padding: 15px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.25);
}
ul li:nth-child(1) {
  transform: translateZ(-75px) translate(-80px, -40px) rotate(-15deg);
}
ul li:nth-child(2) {
  transform: translateZ(80px) translate(50px, 20px) rotate(5deg);
}
ul li:nth-child(3) {
  transform: translateZ(75px) translate(0px, -30px) rotate(-25deg);
}
ul li:nth-child(4) {
  transform: translateZ(20px) translate(-100px, -25px) rotate(15deg);
}
ul li .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}
ul li .box img {
  max-width: 70px;
  border-radius: 5px;
}
ul li .content {
  width: 100%;
  cursor: pointer;
}
ul li .content h4 {
  font-weight: 600;
  color: #aaa;
  transition: 0.5s;
}
ul li .content p {
  position: relative;
  width: 100%;
  line-height: 1em;
  color: #aaa;
  transition: 0.5s;
}
ul li .content p span {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  transition: 0.5s;
  font-size: 0.7em;
}
ul li:hover .box {
  transform: translateX(-50px);
}
ul li:hover .content h4, ul li:hover .content p, ul li:hover .content p span {
  color: var(--white);
}
ul:hover {
  gap: 30px;
}
ul:hover li {
  opacity: 1;
  transform: translateZ(0) translate(0, 0) rotate(0deg);
}/*# sourceMappingURL=glassmorphism-list-hover-effects.css.map */