@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: var(--background);
}

ul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 60px;
  background-color: var(--menu-background-color);
  border-radius: 30px;
}
ul li {
  list-style: none;
}
ul li a {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  z-index: 10000;
  color: var(--light-grey);
}
ul li a ion-icon {
  font-size: 2.5em;
  transition: 0.5s;
}
ul li text {
  position: absolute;
  pointer-events: none;
  transform: translateY(50px);
  opacity: 0;
  font-size: 0.8em;
  transition: 0.5s;
  text-transform: uppercase;
}
ul li:hover a ion-icon {
  color: var(--green);
  filter: drop-shadow(0 0 15px var(--green));
  pointer-events: none;
}
ul li.active a ion-icon {
  color: var(--green);
  filter: drop-shadow(0 0 15px var(--green));
  transform: translateY(-40px);
}
ul li.active text {
  opacity: 1;
  color: var(--green);
  filter: drop-shadow(0 0 10px var(--green));
}

.indicator {
  position: absolute;
  top: -30px;
  width: 80px;
  height: 80px;
  background-color: rgba(13, 134, 37, 0.814);
  border-radius: 20px;
  border-top: 1px solid var(--green);
  border-left: 1px solid var(--green);
  box-shadow: 0 0 0 10px var(--background), 0 2px 0 9px var(--green);
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 29px;
  left: -31px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 4px -4px 0 4px var(--background);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 29px;
  left: 89px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 20px;
  box-shadow: -4px -4px 0 4px var(--background);
}
.indicator span {
  position: absolute;
  top: 113px;
  width: 120%;
  left: -10px;
  height: 30px;
  background-color: rgba(13, 134, 37, 0.813);
  box-shadow: 0 0 0 10px var(--background), 0 -2px 0 9px var(--green);
  border-radius: 20px;
  border-right: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}/*# sourceMappingURL=navigation-4.css.map */