@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white: hsl(0,100%,100%);
    --logo-color: hsl(207,51%,14%);
    --clr: hsl(228, 8%, 14%);
}
body {
    overflow-x: hidden;
    background: var(--white);
    min-height: 100vh;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo {
    color: var(--logo-color);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navigation li {
    list-style: none;

}
.navigation li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--logo-color);
    border-radius: 20px;;
}
.navigation li a:hover,
.navigation li a.active {
    background: var(--logo-color);
    color: var(--white);
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
#text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: var(--logo-color);
}
.sec {
    position: relative;
    padding: 100px;
    background: var(--logo-color);
}
.sec h2 {
    font-size: 3em;
    color: var(--white);
    margin-bottom: 10px;
}
.sec p {
    font-size: 1em;
    color: var(--white);
    font-weight: 300;
}