@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --radial-background: hsl(212, 14%, 21%); /*#2f363e*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: var(--black);
}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.card:hover {
  width: 600px;
  transition-delay: 0.5s;
}
.card:hover .circle::before {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--clr);
  transition-delay: 0.5s;
}
.card:hover .circle .logo {
  transform: scale(0);
  transition-delay: 0s;
}
.card:hover .product_img {
  transition-delay: 0.75s;
  top: 25%;
  left: 72%;
  transform: translate(-50%, -50%) scale(1) rotate(15deg);
  height: 500px;
}
.card:hover .content {
  transition-delay: 0.75s;
  opacity: 1;
  visibility: visible;
  left: 20px;
}
.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: var(--black);
  border: 8px solid var(--clr);
  filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
  transition: 0.5s;
  transition-delay: 0.75s, 1s;
}
.card .circle .logo {
  position: relative;
  width: 250px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.card .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  height: 300px;
  transition: 0.5s ease-in-out;
}
.card .content {
  position: absolute;
  width: 55%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.card .content h2 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
}
.card .content p {
  color: var(--white);
  font-weight: 300;
}
.card .content a {
  position: relative;
  color: #111;
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
}/*# sourceMappingURL=product-card-hover-effects.css.map */