@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.training-callout {
  color: black;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: fit-content;
  padding: 15px 10px;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --radial-background: hsl(212, 14%, 21%); /*#2f363e*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1b1b1b;
}

.container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.container .cloud {
  position: relative;
  width: 320px;
  height: 100px;
  background: white;
  border-radius: 100px;
  filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, 0.3333333333));
  animation: animateCloud 2s steps(1) infinite;
}
.container .cloud::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #484f59;
  box-shadow: 90px -10px 0 30px #484f59;
}
.container .cloud::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #484f59;
  border-radius: 100px;
  z-index: 1000;
}
.container .cloud .drop {
  position: absolute;
  top: 40px;
  background: #05a2eb;
  width: 2px;
  height: 10px;
  transform-origin: bottom;
  animation: animate 2s linear infinite;
}

@keyframes animateCloud {
  0% {
    filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, 0.0666666667)) drop-shadow(0 0 0 white) brightness(1);
  }
  95% {
    filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, 0.0666666667)) drop-shadow(0 0 50px #fff5ff) brightness(10);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) scaleY(1);
  }
  70% {
    transform: translateY(360px) scaleY(1);
  }
  80% {
    transform: translateY(360px) scaleY(0.2);
  }
  100% {
    transform: translateY(360px) scaleY(0) scaleX(15);
  }
}/*# sourceMappingURL=rain-lightning.css.map */