@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --radial-background: hsl(212, 14%, 21%); /*#2f363e*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*BUTTONS*/
/*RESPONSIVE CARD HOVER*/
/*INFINITY SYMBOL*/
/*SIDEBAR*/
/*DROPDOWN MENU*/
/*ANIMATED ACTIVE LINK INDICATOR*/
/*#0f1219*/
/*#1e232f*/
/*#08f9ff*/
/*#08f9ff33*/
/*MODERN NAVIGATION*/
/*#112233*/
footer {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  background-color: hsl(252, 100%, 17%);
}
footer nav {
  padding: 16px;
}
footer div.footer--sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px 16px;
}
footer div.footer--sub div.footer--copyright, footer div.footer--sub div.footer--version {
  color: hsl(240, 1%, 34%);
  font-size: 0.85em;
}

.accord-header {
  color: var(--white);
  text-decoration: none;
  width: 100%;
}
.accord-header i {
  margin-right: 4px;
  margin-left: 4px;
  transition: 500ms;
}
.accord-header.expanded i {
  transform: rotate(90deg);
}

.tooltip {
  text-decoration: underline;
  position: relative;
  display: inline-block;
}
.tooltip::before, .tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: var(--dark-background-111);
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}
.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  width: max-content;
  max-width: 100%;
  border-radius: 0.3rem;
  text-align: center;
  background-color: var(--tooltip-color);
}
.tooltip:hover {
  position: relative;
  z-index: 10000;
}
.tooltip:hover::before, .tooltip:hover::after {
  --scale: 1;
}
.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

@font-face {
  font-family: "Rector";
  font-weight: 500;
  src: url("../fonts/Rector/Web license/Rector/rectorweb-medium.woff2") format("woff2"), url("../fonts/Rector/Web license/rectorweb-medium.woff") format("woff");
}
@font-face {
  font-family: "ABC Social";
  font-weight: normal;
  src: url("../fonts/ABCSocial/ABCSocialVariable.woff2") format("woff2"), url("../fonts/ABCSocial/ABCSocialVariable.woff") format("woff");
}
@font-face {
  font-family: "ABC Social";
  font-weight: 500;
  src: url("../fonts/ABCSocial/ABCSocialVariable.woff2") format("woff2"), url("../fonts/ABCSocial/ABCSocialVariable.woff") format("woff");
}
* {
  font-family: "ABC Social", sans-serif;
}

body {
  background-attachment: fixed;
  min-height: 100svh;
  position: relative;
  transition: 0.5s;
  transition-delay: 0.5s;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 0;
}
body::after {
  content: "";
  display: block;
  height: 150px;
}

header {
  min-height: 80px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  background: #ffffff;
  border-bottom: 2px solid #d6d6d7;
}

.navbar {
  position: fixed;
  top: 0;
  height: 80px;
  min-height: 80px;
}
.navbar.navLeft {
  left: 0;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
}
.navbar.navLeft a:not(.site-name) {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
  color: hsl(260, 100%, 44%);
  transition: 0.25s;
}
.navbar.navLeft a:not(.site-name):hover {
  color: #d6d6d7;
}
.navbar.navLeft a.site-name {
  color: hsl(252, 100%, 17%);
  text-transform: uppercase;
  font-family: "Rector", serif;
  font-weight: 500;
  font-size: max(1rem, 1.2rem + 0.5cqi);
  padding: 0 32px;
  margin: 0 32px;
  border: 1px solid transparent;
  transition: all 300ms;
  position: relative;
  border-left: 3px solid #d6d6d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.navbar.navRight {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  transition: display 0.5s;
}
.navbar.navRight ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.navbar.navRight ul li {
  list-style: none;
}
.navbar.navRight ul li a {
  text-decoration: none;
  color: hsl(252, 100%, 17%);
  font-size: 1.2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 35px;
}
.navbar.navRight ul li a span {
  transition: 0.25s;
  transition-delay: calc(0.05s * var(--i));
}
.navbar.navRight ul li a span:nth-child(2) {
  position: absolute;
  transform: translateY(35px);
  font-size: 1.2em;
}
.navbar.navRight ul li a:hover {
  color: hsl(240, 1%, 34%);
}
.navbar.navRight ul li a.pink_flag__navbar, .navbar.navRight ul li a.pink_flag__navbar i {
  color: rgb(184, 77, 95);
}
.navbar.navRight.icon ul li a {
  color: hsl(252, 100%, 17%);
}
.navbar.navRight.icon ul li a span:nth-child(1) {
  transform: translateY(-30px);
}
.navbar.navRight.icon ul li a span:nth-child(2) {
  transform: translateY(2px);
}
.navbar.navRight.icon ul li:hover a span:nth-child(2) {
  color: hsl(240, 1%, 34%);
}
.navbar.navRight .navbar__close-button {
  display: none;
}

.container__main {
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
}
.container__main div.container__main--heading {
  padding: 0px 0px 10px;
}

.section-accord {
  margin: 5px 0px;
  display: grid;
  gap: 5px;
  transition: 300ms;
}
.section-accord.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.section-accord.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.section-accord.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.section-accord.col-1 {
  grid-template-columns: 1fr;
}
.section-accord .section-accord__section {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid hsl(240, 1%, 34%);
  transition: 250ms;
}
.section-accord .section-accord__section .section-accord__header {
  height: 28px;
  width: 100%;
  background-color: hsl(240, 1%, 34%);
  padding: 0px 5px;
  display: flex;
  justify-content: last baseline;
  align-items: center;
  color: var(--white);
}
.section-accord .section-accord__section .section-accord__body {
  padding: 10px;
}

div#profile-picture {
  background-image: url("../images/updatdAvatar-400x400.png");
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  margin: 0px 10px;
  cursor: pointer;
  transition: 0.5s;
}
div#profile-picture:hover {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap .sub-menu {
  background-color: hsl(252, 100%, 17%);
  padding: 20px;
  color: var(--white);
  margin: 10px;
  border-radius: 20px;
}
.sub-menu-wrap .sub-menu .user-info {
  display: flex;
  align-items: center;
}
.sub-menu-wrap .sub-menu .user-info img {
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #d6d6d7;
}
.sub-menu-wrap .sub-menu .user-info h3 {
  font-weight: 500;
}
.sub-menu-wrap .sub-menu hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: var(--off-white);
  margin: 15px 0 10px;
}
.sub-menu-wrap .sub-menu .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--off-white);
  margin: 12px 0;
  transition: color 0.5s;
}
.sub-menu-wrap .sub-menu .sub-menu-link p {
  width: 100%;
}
.sub-menu-wrap .sub-menu .sub-menu-link i {
  width: 43px;
  background-color: hsl(252, 100%, 17%);
  color: white;
  border-radius: 50%;
  padding: 12px 14px;
  margin-right: 15px;
}
.sub-menu-wrap .sub-menu .sub-menu-link span {
  font-size: 22px;
  transition: 0.5s;
}
.sub-menu-wrap .sub-menu .sub-menu-link:hover {
  color: var(--white);
}
.sub-menu-wrap .sub-menu .sub-menu-link:hover p {
  font-weight: 600;
}
.sub-menu-wrap .sub-menu .sub-menu-link:hover span {
  transform: translateX(5px);
}
.sub-menu-wrap .sub-menu button.close-button {
  position: absolute;
  top: 20px;
  right: 14px;
  border: 0;
  background-color: transparent;
  padding: 5px 15px;
  cursor: pointer;
}
.sub-menu-wrap .sub-menu button.close-button i {
  font-size: 1.9em;
  color: #d6d6d7;
  transition: transform 1.4s ease-in-out;
  transition: color 0.5s;
}
.sub-menu-wrap .sub-menu button.close-button i:hover {
  color: hsl(240, 1%, 34%);
  --ionicon-stroke-width: 2em;
  animation: rotating-two 0.5s linear;
}
.sub-menu-wrap.hide {
  max-height: 0px;
}

.whats-new {
  margin: 0 10px;
  font-size: 1.2em;
  color: hsl(252, 100%, 17%);
  position: relative;
}
.whats-new a {
  transition: transform 0.5s ease;
}
.whats-new a:hover {
  transform: scale(1.2);
}

.alert-badge {
  height: 10px;
  width: 10px;
  border: 1px solid hsl(252, 100%, 17%);
  border-radius: 50%;
  background-color: hsl(176, 100%, 26%);
  position: absolute;
  top: -5px;
  right: -5px;
}

/* UTILITIES */
.hidden {
  display: none;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotating-two {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 1200px) {
  .navbar.navLeft a span.logo-icon {
    position: absolute;
    left: 20px;
  }
  .navbar.navLeft a span.logo {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .sidsection-accord.col-4,
  .sidsection-accord.col-3,
  .sidsection-accord.col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar.navRight .navbar__close-button {
    display: block;
    font-size: 1.5em;
    padding: 0px 10px;
  }
  .navbar.navRight ul.navbar__menu {
    display: none;
  }
  .navbar.navRight ul.navbar__menu li {
    display: block;
    text-align: center;
  }
  .navbar.navRight ul.navbar__menu.responsive {
    display: block;
    position: relative;
    top: 100px;
    background-color: var(--white);
  }
  .navbar.navRight ul.navbar__menu.responsive li {
    width: 100%;
    position: relative;
    background-color: var(--white);
  }
  .navbar.navRight ul.navbar__menu.responsive li:hover {
    background-color: hsl(252, 100%, 17%);
  }
  .navbar.navRight ul.navbar__menu.responsive li a {
    padding: 10px 115px;
    width: 100%;
  }
  .navbar.navRight ul.navbar__menu.responsive li a:hover {
    color: var(--white);
  }
  .navbar.navRight ul.navbar__menu.responsive li a:hover span:nth-child(2) i {
    color: var(--white);
  }
  .navbar.navRight ul.navbar__menu.responsive li a span:nth-child(2) {
    position: absolute;
    left: 20px;
    transform: translateY(0px);
    display: block;
  }
  .navbar.navRight ul.navbar__menu.responsive li a span:nth-child(2) i {
    color: #d6d6d7;
  }
}/*# sourceMappingURL=split-menu-test-2.css.map */