@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: var(--dark-background-2);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h2 {
  position: absolute;
  font-size: 12em;
  line-height: 1em;
  color: hsl(0, 0%, 27%);
  text-shadow: -2px 2px 0 #222, -4px 4px 0 #222, -6px 6px 0 #222, -8px 8px 0 #222, -10px 10px 0 #222, -10px 10px 0 #222, -12px 12px 0 #222, -14px 14px 0 #222, -16px 16px 0 #222, -18px 18px 20px #000, -18px 18px 30px #000, -18px 18px 50px #000, -18px 18px 150px #000;
}
.container h2:nth-child(2) {
  color: #03a9f4;
  text-shadow: -2px 2px 0 #0375a9, -4px 4px 0 #0375a9, -6px 6px 0 #0375a9, -8px 8px 0 #0375a9, -10px 10px 0 #0375a9, -10px 10px 0 #0375a9, -12px 12px 0 #0375a9, -14px 14px 0 #0375a9, -16px 16px 0 #0375a9, -18px 18px 20px #000, -18px 18px 30px #000, -18px 18px 50px #000, -18px 18px 150px #000;
  clip-path: circle(20% at 50% 100%);
  transition: clip-path 2.5s;
}
.container h2:hover:nth-child(2) {
  clip-path: circle(50% at 50% 100%);
  z-index: 100;
}
.container h2:nth-child(3) {
  color: #2cff37;
  text-shadow: -2px 2px 0 #08a010, -4px 4px 0 #08a010, -6px 6px 0 #08a010, -8px 8px 0 #08a010, -10px 10px 0 #08a010, -10px 10px 0 #08a010, -12px 12px 0 #08a010, -14px 14px 0 #08a010, -16px 16px 0 #08a010, -18px 18px 20px #000, -18px 18px 30px #000, -18px 18px 50px #000, -18px 18px 150px #000;
  clip-path: circle(20% at 0% 10%);
  transition: clip-path 2.5s;
}
.container h2:hover:nth-child(3) {
  clip-path: circle(120% at 0% 10%);
}
.container h2:nth-child(4) {
  color: #e91e63;
  text-shadow: -2px 2px 0 #ae0840, -4px 4px 0 #ae0840, -6px 6px 0 #ae0840, -8px 8px 0 #ae0840, -10px 10px 0 #ae0840, -10px 10px 0 #ae0840, -12px 12px 0 #ae0840, -14px 14px 0 #ae0840, -16px 16px 0 #ae0840, -18px 18px 20px #000, -18px 18px 30px #000, -18px 18px 50px #000, -18px 18px 150px #000;
  clip-path: circle(20% at 100% 40%);
  transition: clip-path 2.5s;
}
.container h2:hover:nth-child(4) {
  clip-path: circle(120% at 100% 40%);
  z-index: 100;
}/*# sourceMappingURL=text-fill-hover-effects.css.map */