@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Oswald", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%); /*#FFFFFF*/
  --off-white: hsla(0, 0%, 100%, 0.533); /*#FFFFFF88*/
  --black: hsl(0, 0%, 0%); /*#000000*/
  --dark-background-2: hsl(0, 0%, 21%); /*#353535*/
  --dark-background: hsl(228, 7%, 14%); /*#212226*/
  --background: hsl(206, 45%, 12%); /*#11212D*/
  --dark-background-111: hsl(0, 0%, 7%); /*#111111*/
  --dark-background-222: hsl(0, 0%, 13%); /*#222222*/
  --glassmorphism-background: hsl(257, 43%, 31%);
  --footerBackground: hsl(216, 100%, 60%);
  --buttonsBackground: hsl(205, 43%, 16%);
  --green: hsl(132, 99%, 58%);
  --circularbg2: hsl(54, 100%, 62%);
  --section-background: hsl(240, 23%, 11%);
  --menu-marker-bg-color: hsl(213, 100%, 68%);
  --menu-marker-bg-color-darker: hsl(213, 46%, 40%);
  --menu-background-color: hsl(0, 0%, 18%); /*#2e2e2e*/
  --darkmode-text: hsl(0, 0%, 87%); /*#dedede  #dddddd*/
  --light-grey: hsl(0, 0%, 47%); /*#787878*/
  --med-light-grey: hsl(0, 0%, 33%); /*#545454*/
  --med-grey: hsl(0, 0%, 20%); /*#333*/
  --dark-grey: hsl(0, 0%, 19%); /*#303030*/
  --pink: hsl(339, 100%, 62%);
  --red: hsl(0, 100%, 50%);
  --light-switch-border: hsl(0, 0%, 93%); /*#eee*/
  --light-switch-border-dark: hsl(0, 0%, 80%); /*#ccc*/
  --light-switch-dark: hsl(0, 0%, 47%); /*#777777*/
  --creative-text-border-color: hsl(228, 19%, 27%); /*#383d52*/
  --card-hover-background: hsl(234, 24%, 23%); /*#2C2F48*/
  --radial-background: hsl(212, 14%, 21%); /*#2f363e*/
  --services-design: hsl(206, 62%, 54%);
  --services-development: hsl(324, 89%, 64%);
  --services-search: hsl(120, 70%, 68%);
  --services-analytics: hsl(51, 75%, 54%);
  --services-video: hsl(120, 34%, 39%);
  --services-games: hsl(300, 43%, 51%);
  --responsive-bar-background: hsl(200, 18%, 46%) /*#607d8b*/;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*BUTTONS*/
/*RESPONSIVE CARD HOVER*/
/*INFINITY SYMBOL*/
/*SIDEBAR*/
/*DROPDOWN MENU*/
/*ANIMATED ACTIVE LINK INDICATOR*/
/*#0f1219*/
/*#1e232f*/
/*#08f9ff*/
/*#08f9ff33*/
/*MODERN NAVIGATION*/
/*#112233*/
.tooltip {
  text-decoration: underline;
  position: relative;
  display: inline-block;
}
.tooltip::before, .tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: var(--dark-background-111);
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}
.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  border-radius: 0.3rem;
  text-align: center;
  background-color: var(--tooltip-color);
}
.tooltip:hover {
  position: relative;
  z-index: 10000;
}
.tooltip:hover::before, .tooltip:hover::after {
  --scale: 1;
}
.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

html {
  background: linear-gradient(0.25turn, #ccc, #fff);
}

body {
  padding: 20px 50px;
  height: 100vh;
}

p {
  display: block;
}

#display {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
}

#timeline-holder {
  border-left: 1px solid #444;
  width: 50%;
  transform: translateX(50%);
  margin-top: 30px;
}
#timeline-holder::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #444;
  background-color: transparent;
  display: block;
  transform: translate(-11px, -21px);
}
#timeline-holder::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #444;
  background-color: transparent;
  display: block;
  transform: translate(-11px, 21px);
}
#timeline-holder li {
  padding: 0px 10px;
  margin: 5px 5px 5px 20px;
  list-style: none;
  width: 100%;
  border-radius: 10px;
  position: relative;
}
#timeline-holder li:nth-child(even) {
  border-left: 1px solid black;
}
#timeline-holder li:nth-child(even)::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}
#timeline-holder li:nth-child(even)::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: calc(0% - 25px);
  transform: translateY(-50%);
}
#timeline-holder li:nth-child(even) .line-item-template__tags {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
#timeline-holder li:nth-child(even) .line-item-template__tags > div {
  border-top: 1px solid #aaa;
  margin-top: 5px;
  padding-top: 5px;
  width: 75%;
}
#timeline-holder li:nth-child(odd) {
  transform: translateX(calc(-100% - 22px));
  text-align: end;
  margin-left: 0px;
  border-right: 1px solid black;
}
#timeline-holder li:nth-child(odd)::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
#timeline-holder li:nth-child(odd)::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  transform: translateY(-50%);
}
#timeline-holder li:nth-child(odd) .line-item-template__tags {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#timeline-holder li:nth-child(odd) .line-item-template__tags > div {
  border-top: 1px solid #aaa;
  margin-top: 5px;
  padding-top: 5px;
  width: 75%;
}
#timeline-holder p.line-item-template__title {
  font-size: 2rem;
}

.line-item-template__date {
  font-size: 0.7em;
}

.line-item-template__createdby {
  font-size: 0.8em;
  font-weight: 700;
  margin-right: 10px;
}/*# sourceMappingURL=timeline-display.css.map */