@import '_base.scss';
@import '_colors.scss';
@import '_footer.scss';
@import '_accordion.scss';
@import '_popover.scss';

@font-face {
    font-family: 'Rector';
    font-weight: 500;
    src:
        url('../fonts/Rector/Web\ license/Rector/rectorweb-medium.woff2') format('woff2'),
        url('../fonts/Rector/Web\ license/rectorweb-medium.woff') format('woff');
}

@font-face {
    font-family: 'ABC Social';
    font-weight: normal;
    src:
        url('../fonts/ABCSocial/ABCSocialVariable.woff2') format('woff2'),
        url('../fonts/ABCSocial/ABCSocialVariable.woff') format('woff');
}

@font-face {
    font-family: 'ABC Social';
    font-weight: 500;
    src:
        url('../fonts/ABCSocial/ABCSocialVariable.woff2') format('woff2'),
        url('../fonts/ABCSocial/ABCSocialVariable.woff') format('woff');
}

* {
    font-family: 'ABC Social', sans-serif;
}

body {
    //background-color: var(--off-white);
    // background: radial-gradient(
    //     farthest-corner at 0px 80px,
    //     lighten(hsl(213, 46%, 40%), 50%) 100%,
    //     var(--off-white) 100%
    // );
    background-attachment: fixed;
    min-height: 100svh;
    position: relative;
    transition: 0.5s;
    transition-delay: 0.5s;
    padding-top: 100px;
    padding-bottom: 150px;
    z-index: 0;

    &::after {
        content: '';
        display: block;
        height: 150px;
    }
}
// HEADER & NavBar
header {
    min-height: 80px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    background: $white;
    border-bottom: 2px solid $brandLightGray;
}
.navbar {
    position: fixed;
    top: 0;
    height: 80px;
    min-height: 80px;

    &.navLeft {
        left: 0;
        display: flex;
        justify-content: stretch;
        align-items: center;
        flex-direction: row;
        //width: 500px;

        & a:not(.site-name) {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
            //width: 100%;
            text-decoration: none;
            color: $brandCobalt;
            transition: 0.25s;

            &:hover {
                color: $brandLightGray;
            }
        }
        & a.site-name {
            color: $brandDarkBlue;
            text-transform: uppercase;
            font-family: 'Rector', serif;
            font-weight: 500;
            font-size: max(1rem, 1.2rem + 0.5cqi);
            padding: 0 32px;
            margin: 0 32px;
            border: 1px solid transparent;
            transition: all 300ms;
            position: relative;
            border-left: 3px solid $brandLightGray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
        }
    }

    &.navRight {
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: auto;
        transition: display 0.5s;

        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 20px;

            & li {
                list-style: none;

                & a {
                    text-decoration: none;
                    color: $brandDarkBlue;
                    font-size: 1.2em;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    height: 35px;

                    & span {
                        transition: 0.25s;
                        transition-delay: calc(0.05s * var(--i));

                        &:nth-child(2) {
                            position: absolute;
                            transform: translateY(35px);
                            font-size: 1.2em;
                        }
                    }

                    &:hover {
                        color: $brandDarkGray;
                    }

                    &.pink_flag__navbar,
                    &.pink_flag__navbar i {
                        color: rgb(184, 77, 95);
                    }
                }
            }
        }

        &.icon ul li a {
            color: $brandDarkBlue;
        }
        &.icon ul li a span:nth-child(1) {
            transform: translateY(-30px);
        }
        &.icon ul li a span:nth-child(2) {
            transform: translateY(2px);
        }
        &.icon ul li:hover a span:nth-child(2) {
            color: $brandDarkGray;
        }

        & .navbar__close-button {
            display: none;
        }
    }
}

// Main Container
.container__main {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    & div.container__main--heading {
        padding: 0px 0px 10px;
    }
}

// Side-Bar
.section-accord {
    margin: 5px 0px;
    display: grid;
    gap: 5px;
    transition: 300ms;

    &.col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &.col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.col-1 {
        grid-template-columns: 1fr;
    }

    & .section-accord__section {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1px solid $brandDarkGray;
        //overflow: hidden;
        transition: 250ms;

        & .section-accord__header {
            height: 28px;
            width: 100%;
            background-color: $brandDarkGray;
            padding: 0px 5px;
            display: flex;
            justify-content: last baseline;
            align-items: center;
            color: var(--white);
        }

        & .section-accord__body {
            padding: 10px;
        }
    }
}

// PROFILE - Admin functions
div#profile-picture {
    background-image: url('../images/updatdAvatar-400x400.png');
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        height: 50px;
        width: 50px;
        margin: 0 5px;
    }
}
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;

    & .sub-menu {
        background-color: $brandDarkBlue;
        padding: 20px;
        color: var(--white);
        margin: 10px;
        border-radius: 20px;

        & .user-info {
            & img {
                height: 60px;
                border-radius: 50%;
                margin-right: 15px;
                border: 2px solid $brandLightGray;
            }

            display: flex;
            align-items: center;

            & h3 {
                font-weight: 500;
            }
        }

        & hr {
            width: 100%;
            border: 0;
            height: 1px;
            background-color: var(--off-white);
            margin: 15px 0 10px;
        }

        & .sub-menu-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--off-white);
            margin: 12px 0;
            transition: color 0.5s;

            & p {
                width: 100%;
            }

            & i {
                width: 43px;
                background-color: $brandDarkBlue;
                color: white;
                border-radius: 50%;
                padding: 12px 14px;
                margin-right: 15px;
            }

            & span {
                font-size: 22px;
                transition: 0.5s;
            }

            &:hover {
                color: var(--white);
                & p {
                    font-weight: 600;
                }
                & span {
                    transform: translateX(5px);
                }
            }
        }

        & button.close-button {
            position: absolute;
            top: 20px;
            right: 14px;
            border: 0;
            background-color: transparent;
            padding: 5px 15px;
            cursor: pointer;

            & i {
                font-size: 1.9em;
                color: $brandLightGray;
                transition: transform 1.4s ease-in-out;
                transition: color 0.5s;
                &:hover {
                    color: $brandDarkGray;
                    --ionicon-stroke-width: 2em;
                    animation: rotating-two 0.5s linear;
                }
            }
        }
    }

    &.hide {
        max-height: 0px;
    }
}

.whats-new {
    margin: 0 10px;
    font-size: 1.2em;
    color: $brandDarkBlue;
    position: relative;

    & a {
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.alert-badge {
    height: 10px;
    width: 10px;
    border: 1px solid $brandDarkBlue;
    border-radius: 50%;
    background-color: $brandGreen;
    position: absolute;
    top: -5px;
    right: -5px;
}

/* UTILITIES */
.hidden {
    display: none;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
@keyframes rotating-two {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        &.navLeft {
            & a {
                & span.logo-icon {
                    position: absolute;
                    left: 20px;
                }

                & span.logo {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .sidsection-accord.col-4,
    .sidsection-accord.col-3,
    .sidsection-accord.col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar {
        &.navRight {
            & .navbar__close-button {
                display: block;
                font-size: 1.5em;
                padding: 0px 10px;
            }
            & ul.navbar__menu {
                display: none;
                & li {
                    display: block;
                    text-align: center;
                }

                &.responsive {
                    display: block;
                    position: relative;
                    top: 100px;
                    background-color: var(--white);

                    & li {
                        width: 100%;
                        position: relative;
                        background-color: var(--white);
                        //margin: 10px 0px;

                        &:hover {
                            background-color: $brandDarkBlue;
                        }

                        & a {
                            padding: 10px 115px;
                            width: 100%;

                            &:hover {
                                color: var(--white);

                                & span:nth-child(2) i {
                                    color: var(--white);
                                }
                            }

                            & span:nth-child(2) {
                                position: absolute;
                                left: 20px;
                                transform: translateY(0px);
                                display: block;
                                & i {
                                    color: $brandLightGray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
